<h2>List Of Users</h2>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>user Id</th>
            <th>Name</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table>


<!-- <table>
    <thead>
        <tr>
            <th>user Id</th>
            <th>username</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="Let user of userList">
            <td>{{user.id}}</td>
            <td>{{user.username}}</td>
            <td>{{user.email}}</td>
        </tr>
    </tbody>
</table> -->